{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block main %}
<h1>Привет, я Аня</h1>
<p>
  В задании просят добавить ссыоку на Github, но я вставлю мем, который расскажет о моих навыках 
  лучше.
  <p  class="center-img">  
  <img src="{% static 'img/meme.png' %}" width="30%" height="30%">
  <link rel="stylesheet" href="{% static 'css/author.css' %}">
  </p>
  <p>Программирование я начала изучать на 1 курсе универа.
   Я писала разные штуки для решения математических и физических задач на С++.
   Все мои знания были получены, методами, показанными во второй части видоса, который я прикрепила внизу :).
  </p>
  <p><a href="https://youtu.be/vQDLOxfOpSc">Забавный видос</a></p>
  
</p>
{% endblock %}